* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  justify-items: center;
  background-color: grey;
}

.top, .mid, .bottom {
  border: 1px solid red;
  width: 60%;
  background-color: rgba(85, 186, 216, 0.203);
}
/* TOP GAMEBOARD UI STYLING */
.top {
  display: flex;
}

.playertop {
  border: 1px solid blue;
  width: 100%;
}

/* MID GAMEBOARD UI STYLING */
.mid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  align-content: center;
}  


.cell {
  border: 1px solid cyan;
  width: 100%;
  height: 100%;
}

/* BOTTOM GAMEBOARD UI STYLING */
.bottom {
  display: flex;
  flex-direction: column;
}

.buttons {
  height: 100%;
  border: 1px solid cyan;
}

.bottom_playerUI {
  height: 100%;
  border: 1px solid cyan;
  display: flex;
}

.playerbot {
  border: 1px solid blue;
  width: 100%;
}
