* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  justify-items: center;
  background-color: grey;
  filter: blur(1px);
}

.top, .mid, .bottom {
  border: 1px solid red;
  width: 60%;
  background-color: rgba(85, 186, 216, 0.203);
}
/* TOP GAMEBOARD UI STYLING */
.top {
  display: flex;
}

.playertop {
  border: 1px solid blue;
  width: 100%;
}

/* MID GAMEBOARD UI STYLING */
.mid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  align-content: center;
}  


.cell {
  border: 1px solid cyan;
  width: 100%;
  height: 100%;
}

/* BOTTOM GAMEBOARD UI STYLING */
.bottom {
  display: flex;
  flex-direction: column;
}

.buttons {
  height: 100%;
  border: 1px solid cyan;
}

.bottom_playerUI {
  height: 100%;
  border: 1px solid cyan;
  display: flex;
}

.playerbot {
  border: 1px solid blue;
  width: 100%;
}

/* DATA STYLING */
.data {
  position: absolute;
  width: 550px;
  height: 350px;
  border: 1px solid red;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.data form {
  border: 1px solid red;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.players-data {
  border: 1px solid blue;
  width: 100%;
  height: 80%;
  display: flex;
}

.player {
  width: 50%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.send-button {
  border: 1px solid green;
  height: 20%;
}